.button {
    display: block;
    width: 196px;
    height: 50px;
    margin: 0 auto;
    padding: 14px 28px;
    cursor: pointer;
  
    font-family: inherit;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.22;
    text-transform: uppercase;
    color: #ebd8ff;
  
    background-color: #4b2a99;
    border: none;
    border-radius: 10.3108px;
  
    transition: color 250ms cubic-bezier(0.075, 0.82, 0.165, 1) background-color
      250ms cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  
  .button:hover {
    color: #373737;
    background-color: #5CD3A8;
    box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.25);
  }