.users{
    padding: 0;
    margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
.container {
    max-width: 1200px;
     margin: 0 auto;
     padding: 30px;
     background-color: #766A92;
   };
 

   .backBtn{
    display: inline-block;
    padding: 10px 20px;
    background-color: #5736A3;
    color: white;
    text-decoration: none; 
    border: 1px solid black;
    border-radius: 4px;
   }
   .users_item{
    list-style: none;
   }